*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}


body{

    background:#111;
    color:white;

}



header{

    background:#e50914;
    padding:20px;
    text-align:center;

}



.booking-container{

    display:flex;
    justify-content:center;
    gap:40px;
    margin:50px;

}



.movie-card,
.booking-form{

    background:#222;
    padding:25px;
    border-radius:12px;
    width:350px;

}



.movie-card img{

    width:100%;
    border-radius:10px;

}



h2{

    margin:15px 0;

}



p{

    margin:12px 0;

}



label{

    display:block;
    margin-top:15px;

}



input{

    width:100%;
    padding:12px;
    margin-top:8px;
    border-radius:5px;
    border:none;

}



.seats{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:10px;
    margin:15px 0;

}



.seats button{

    padding:10px;
    background:#333;
    color:white;
    border:1px solid #e50914;
    cursor:pointer;

}



.confirm{

    width:100%;
    padding:12px;
    background:#e50914;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;

}